@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;800&display=swap');

$mobileScreen: 375px;
$desktopScreen: 1440px;
$darkblue: hsl(209, 23%, 22%);
$verydarkblue: hsl(207,26%, 17%);
$verydarkbluelight: hsl(200, 15%, 8%);
$darkgray: hsl(0, 0%, 52%);
$verylightgray: hsl(0, 0%, 98%);
$white: hsl(0,0%,100%);
$fontfamily: 'Nunito Sans', sans-serif;
